- form_tag customers_path do
  %p
    = label_tag "customer[name]", "社名"
    %br
    = text_field_tag "customer[name]"
  %p
    = label_tag "customer[account]", "担当者名"
    %br
    = text_field_tag "customer[account]"
  %p
    = label_tag "customer[url]", "URL"
    %br
    = text_field_tag "customer[url]"
  %p
    = submit_tag "作成"
